* {
    margin:0;
    padding: 0;
}

body {
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: #c0ba9d;
    color: #3e5533;
}

header,
footer {
    position: relative;
    background-color: #3e5533;
    height: 51px;
}

header {
    border-bottom:#224108 solid 10px;
}

.nav {
    display: inline-block;
    margin-inline: 50px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #FDF8F5;
  }

footer {
    text-decoration: none;
    color: #FDF8F5;
    border-top: #224108 solid 10px;
}

p {
    margin-top: 15px;

}

#pic {
    margin-top: 20px;
    width: 480px;
    border: #224108 solid 10px;
}

form {
    border: #224108 solid 10px;
    width: 500px;
    margin: 20px auto;
    display: block;
    
}

ul {
    list-style-type: none;
}

.text-center {
    text-align:center;
}